.game{
	.player1, .player2 { background-repeat:no-repeat; height:100px; opacity:0.3;}
	.leftPane.player1 { background-image:url(../images/x.png); background-position: right;}
	.rightPane.player2 { background-image:url(../images/o.png); background-position: left;}
}
.tBoard {
	&.playerMode1 { 
		cursor: url(../images/x.png) 64 64, move; 
	}
	&.playerMode2 { 
		cursor: url(../images/o.png) 32 32, move;
	}
	.tRow {
		display:flex; display: -webkit-flex;
		flex-direction:row; -webkit-flex-direction: row;
		align-items:center;
		justify-content:center;
		margin:4px 0;

		.tCell {
			width:100px;
			height:100px;
			background-color:#FFE270;
			margin:0 2px;
			border:1px solid #E2BD2C;
			&:hover {width:98px; height:98px; border:2px solid #333333;}
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:6em;
			transition:background-color 0.5s linear;
			&.inactive {background-color:#D0D0D0; cursor:auto;}
			&.played {background-color:#96DCFF; cursor:auto;}
			@keyframes glow {
				0% {background-color:white;}
				20% {background-color:#888888;}	
				30% {background-color:white;}
				40% {background-color:#888888;}
				100% {background-color:#E2FF70;}
			}
			&.solved {animation-name:glow; animation-duration: 1s; background-color:#E2FF70;}
			&.p1, &.p2 {background-repeat:no-repeat; background-position: center;}
			&.p1 { background-image:url(../images/x.png); }
			&.p2 { background-image:url(../images/o.png); }
		}
	}
}