$break-xs:320px;
$break-sm:480px;
$break-md:768px;
$break-lg:992px;
$break-xl:1200px;

@media only screen and (min-width : $break-xs) {
  h1 { font-size:2em; }
  .game .tBoard .tRow .tCell {width:80px; height:80px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $break-sm) {
  h1 { font-size:3em; }
  .game .tBoard .tRow .tCell {width:80px; height:80px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $break-md) {
  h1 { font-size:4em; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $break-lg) {
  h1 { font-size:6em; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $break-xl) {
  h1 { font-size:6em; }
}

h1 { color:#99aabb; text-align: center;}
.game{
	.player1, .player2 { background-repeat:no-repeat; height:100px; opacity:0.3;}
	.leftPane.player1 { background-image:url(../images/x.png); background-position: right;}
	.rightPane.player2 { background-image:url(../images/o.png); background-position: left;}
}
.tBoard {
	&.playerMode1 { 
		cursor: url(../images/x.png) 64 64, move; 
	}
	&.playerMode2 { 
		cursor: url(../images/o.png) 32 32, move;
	}
	.tRow {
		display:flex; display: -webkit-flex;
		flex-direction:row; -webkit-flex-direction: row;
		align-items:center;
		justify-content:center;
		margin:4px 0;

		.tCell {
			width:100px;
			height:100px;
			background-color:#FFE270;
			margin:0 2px;
			border:1px solid #E2BD2C;
			&:hover { 
				border:2px solid #333333;
				&.inactive{ border:inherit;}
			}
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:6em;
			transition:background-color 0.5s linear;
			&.inactive {background-color:#D0D0D0; cursor:auto;}
			&.played {background-color:#96DCFF; cursor:auto;}
			@keyframes glow {
				0% {background-color:white;}
				4% {background-color:#555555;}
				8% {background-color:white;}
				12% {background-color:#888888;}
				100% {background-color:#E2FF70;}
			}
			&.solved {animation-name:glow; animation-duration: 1.5s; background-color:#E2FF70;}
			&.p1, &.p2 {background-repeat:no-repeat; background-position: center;}
			&.p1 { background-image:url(../images/x.png); }
			&.p2 { background-image:url(../images/o.png); }
		}
	}
}